@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Sora:wght@100..800&display=swap');
*{
    font-family: sora;
}

html{
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 60px;
} 

.font-h{
    font-family: 'Sora', sans-serif;
    font-weight: 700;
    font-size: 20px; 
}

.font-H5{
    font-family: 'Solitreo', cursive; 
    font-weight: 600;
    font-size: 20px; 
    line-height: 24px; 
    letter-spacing: -0.02em; 
}

.font-H1{
    font-family: sora;
    font-weight: 600; 
}
.dev{
    font-size: 1.2em;
    font-weight: 700;
    font-size: xx-large;
    color: #333;
}
.custom-img{
    width: 450px;
    height: 400px;

}

.custom-bt{
    border-radius: 5px !important;
    background-color: black !important;
    border: 0px !important;
}

.custom-bt:hover{
    background-color: gray !important;;
}

#svg{
    filter: brightness(0) invert(1);
}

.sm-h{
    font-weight: 400;
}
.md-h{
    font-weight: 800;
}
.cust-bt{
    width: 100px;
    height: 100px;
    border-radius: 3px;
    background-color: transparent;
    font-family: sora !important;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.cust-bt span {
    margin-top: -5px;
    line-height: 1;
}

.cust-bt:hover{
    background-color: black;
    color: white;
}

/* projects */
.font-pn{
    font-family: sora;
    color: white;
    font-weight: 700;
    font-size: 25px;
}
.font-ph{
    font-family: sora;
    color: white;
    font-size: 17px;
    font-weight: 550;
}
.font-pp{
    font-family: sora;
    color: rgb(180, 180, 181);
    font-size: 13px;
    font-weight: 10;
}

.a-hover:hover {
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(180deg) saturate(500%);
}

/* contact */
.font-p{
    font-family: sora;
    font-size: 15px;
}

.font-b {
    font-family: '', sans-serif;
    font-weight: 800;
    font-size: 35px;
    line-height: 40px;
    letter-spacing: -2%;
    -webkit-text-stroke: 2px black;
    color: transparent; 
}

.row-reverse {
    display: flex;
    flex-wrap: wrap;
}
  
@media (max-width: 770px) {
    .row-reverse {
      flex-direction: column-reverse; 
    }
}

/* about */
.font-ap{
    font-family: sora;
    font-size: 13px;
}

/* experience */
.font-ep{
    font-family: sora;
    font-size: 13px;
    font-weight: 10;
}

.font-Ep{
    font-family: sora;
    font-size: 15px;
    font-weight: 40;
    color: white !important;
}

/* footer */
.footer a{
    font-size: 14px !important;;
}

.footer a img {
    filter: brightness(80%); 
    transition: transform 0.3s ease-in-out;
  }
  
.footer a:hover img {
    transform: scale(1.2); 
    filter: brightness(100%);
}

@media(max-width: 572px){
    .onscrollTop{
        bottom: 80px !important;
    }
}


input:focus, textarea:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: inherit !important;
}

#home {
    scroll-margin-top: 50px !important;
}
