{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Niranjan Rao</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <!-- UP arrow -->
    <button  class="btn btn-dark p-3 position-fixed bottom-0 end-0 m-3 z-3  onscrollTop" style="width: 50px; height: 50px;" onclick="onscrollTop(this)">
      <i class="bi bi-arrow-up"></i></a>
    </button>
    <!-- navbar section -->
    <nav class="navbar navbar-expand-md navbar-light bg-white position-sticky top-0 z-3" id="navbar">
      <div class="container-fluid container-md">
        <a class="navbar-brand font-h" href="#">Niranjan</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto font-H5">
            <li class="nav-item">
              <a class="nav-link active" onclick="activelink(this)" aria-current="page" name="home" href="#home">Home</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" onclick="activelink(this)" name="experience" href="#experience">Experience</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" onclick="activelink(this)" name="about-me" href="#about-me">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" onclick="activelink(this)" name="projects" href="#projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" onclick="activelink(this)" name="contact-me" href="#contact-me">Contact</a>
            </li>
          </ul>
          <ul class="navbar-nav font-H5">
            <li class="nav-item">
              <button class="custom-bt"><a id="svg" href="https://drive.google.com/file/d/12_FYcjruJCN_NDU-Uuiin1WilpjILoPA/view?usp=drivesdk" class="nav-link text-white">Resume <img src="{% static 'img/download.svg' %}" alt=""></a></button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
     <!-- home section -->
    <section id="home" class="py-5">
      <div class="container-fluid container-md">
        <div class="row align-items-center">
          <div class="col-md-6">
            <h1 id="h1">Hello, I am <span id="hero-name">Niranjan Rao</span>, <span id="role-name">DevOps</span> Engineer</h1>
            <p>Passionate about automating and optimizing cloud infrastructure. With hands-on experience in AWS services like EC2, VPC, RDS, and CloudWatch, I specialize in deploying, managing, and monitoring production-level applications. Skilled in CI/CD automation using Jenkins and GitHub Actions, I strive to build scalable, secure, and efficient DevOps solutions.</p>
            <div class="d-flex">
              <a target="_blank" href="https://github.com/niranjan-46" onmouseenter="mEnter(this)" onmouseleave="mExit(this)" class="btn btn-outline-dark me-3"><img class="contact-btn" src="{% static 'img/github.svg' %}" alt=""></a>
              <a target="_blank" href="http://www.linkedin.com/in/niranjan-rao-annavarapu" onmouseenter="mEnter(this)" onmouseleave="mExit(this)" class="btn btn-outline-dark me-3"><img class="contact-btn" src=" {% static 'img/linkedin.svg' %}" alt=""></a>
              <a target="_blank" href="https://x.com/niranjanan28651?s=21&t=ZwRQFbteB3_Wta00haEuiA" onmouseenter="mEnter(this)" onmouseleave="mExit(this)" class="btn btn-outline-dark me-3"><img class="contact-btn" src=" {% static 'img/twitter.svg' %}" alt=""></a>
              <a target="_blank" href="mailto:niranjan.devops.specialist@gmail.com" onmouseenter="mEnter(this)" onmouseleave="mExit(this)" class="btn btn-outline-dark"><img class="contact-btn" src=" {% static 'img/envelope.svg' %} " alt=""></a>
            </div>
          </div>
          <div class="col-md-6 text-center">
            <img class="custom-img img-fluid border-bottom border-2 border-dark" src=" {% static 'img/ahero.png' %} " alt="">
          </div>
        </div>
      </div>
    

      <!-- skills section -->
      <div class="container-fluid container-md">
        <div class="container text-center cust-js">
          <div class="row mb-5 h3">
            <div class="col-12">
              <span class="sm-h">My </span><span class="font-H1 md-h">Skills</span></div>
            </div>
          <div class="row " >
            <div class="col mb-4 col-md-2 ">
              <button onmouseenter="mEnter(this)" onmouseleave="mExit(this)" class="cust-bt"><img class="contact-btn" width="40" height="40" src="https://img.icons8.com/ios-filled/50/1A1A1A/python.png" alt="python"/><br><span>Python</span></button>
            </div>
            <div class="col mb-4 col-md-2">
              <button onmouseenter="mEnter(this)" onmouseleave="mExit(this)" class="cust-bt"><img class="contact-btn" width="40" height="40" src="https://img.icons8.com/external-tal-revivo-bold-tal-revivo/40/1A1A1A/external-amazon-web-services-a-subsidiary-of-amazon-that-provides-on-demand-cloud-computing-logo-bold-tal-revivo.png" alt="external-amazon-web-services-a-subsidiary-of-amazon-that-provides-on-demand-cloud-computing-logo-bold-tal-revivo"/> <br><span>Aws</span></button>
            </div>
            <div class="col mb-4 col-md-2">
              <button onmouseenter="mEnter(this)" onmouseleave="mExit(this)" class="cust-bt"><img class="contact-btn" width="40" height="40" src="https://img.icons8.com/ios-filled/40/1A1A1A/console.png" alt="console"/><br><span>Bash</span></button>
            </div>
            <div class="col mb-4 col-md-2">
              <button onmouseenter="mEnter(this)" onmouseleave="mExit(this)" class="cust-bt"><img class="contact-btn" width="40" height="40" src="https://img.icons8.com/ios-filled/40/1A1A1A/git.png" alt="git"/><br><span>Git</span></button>
            </div>
            <div class="col mb-4 col-md-2">
              <button onmouseenter="mEnter(this)" onmouseleave="mExit(this)" class="cust-bt"><img class="contact-btn" width="40" height="40" src="https://img.icons8.com/ios-filled/40/1A1A1A/docker.png" alt="docker"/><br><span>Docker</span></button>
            </div>
            <div class="col mb-4 col-md-2">
              <button onmouseenter="mEnter(this)" onmouseleave="mExit(this)" class="cust-bt"><img class="contact-btn" width="40" height="40" src="https://img.icons8.com/windows/100/1A1A1A/kubernetes.png" alt="kubernetes"/><br><span>kubernetes</span></button>
            </div>
            <div class="col mb-4 col-md-2">
              <button onmouseenter="mEnter(this)" onmouseleave="mExit(this)" class="cust-bt"><img class="contact-btn" width="40" height="40" src="https://img.icons8.com/ios-filled/40/1A1A1A/jenkins.png" alt="jenkins"/><br><span>jenkins</span></button>
            </div>
            <div class="col mb-4 col-md-2">
              <button onmouseenter="mEnter(this)" onmouseleave="mExit(this)" class="cust-bt"><img class="contact-btn" width="40" height="40" src="https://img.icons8.com/ios/40/1A1A1A/maven-ios.png" alt="maven-ios"/><br><span>Maven</span></button>
            </div>
            <div class="col mb-4 col-md-2">
              <button onmouseenter="mEnter(this)" onmouseleave="mExit(this)" class="cust-bt"><img class="contact-btn" width="40" height="40" src="https://img.icons8.com/windows/40/1A1A1A/ansible.png" alt="ansible"/><br><span>Ansible</span></button>
            </div>
            <div class="col mb-4 col-md-2">
              <button onmouseenter="mEnter(this)" onmouseleave="mExit(this)" class="cust-bt"><img class="contact-btn" width="40" height="40" src="https://img.icons8.com/ios-filled/40/1A1A1A/terraform.png" alt="terraform"/><br><span>Terraform</span></button>
            </div>
            <div class="col mb-4 col-md-2">
              <button onmouseenter="mEnter(this)" onmouseleave="mExit(this)" class="cust-bt"><img class="contact-btn" width="40" height="40" src="https://img.icons8.com/external-others-maxicons/40/1A1A1A/external-prometheus-greek-mythology-others-maxicons-2.png" alt="external-prometheus-greek-mythology-others-maxicons-2"/><br><span>prometh-eus</span></button>
            </div>
            <div class="col mb-4 col-md-2">
              <button onmouseenter="mEnter(this)" onmouseleave="mExit(this)" class="cust-bt"><img class="contact-btn" width="40" height="40" src="https://img.icons8.com/ios-filled/40/1A1A1A/firewall.png" alt="firewall"/><br><span>Firewall</span></button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- experience section -->
    <section id="experience">
      <div class="container-fluid container-md text-white p-1 pb-4 bg-black">
        <div class="row">
          <div class="col-12 text-center text-white h2 my-5"><span class="sm-h">My </span><span class="font-H1 md-h">Experience</span></div>
        </div>
        <div class="row  border border-secondary rounded-2 mx-md-5 mx-1 justify-content-between align-items-center">
          <div class="col d-flex justify-content-between">
            <div class="d-flex align-items-start">
              <img class="mt-2" width="40px" height="40px" src=" {% static 'img/company.png' %} " alt="">
              <h6 class="m-3">Associate Software Engineer
              </h6>
            </div> 
              <p class=" text-secondary mt-3 font-Ep">July/2024-Present</p>
          </div>
          <div class="container">
            <p class="font-ep">At Dyashin TechnoSoft Pvt Ltd, I am an Associate Software Engineer where I manage and deploy applications utilizing AWS App Runner, EC2, and PostgreSQL RDS. I am responsible for devising cloud infrastructure that incorporates VPC, RDS and CloudWatch, as well as automating CI/CD pipelines with Jenkins and GitHub Actions. Additionally, I simplify deployments using Docker and Amazon ECR. Furthermore, I maintain infrastructure using Ansible, manage PostgreSQL, configure VPCs along with load balancers, and monitor high availability performance with CloudWatch.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- about me section -->
    <section id="about-me">
      <div class="container-fluid container-md my-5">
        <div class="container-fluid border">
          <div class="row d-md-flex flex-column flex-md-row">
            <div class="col border text-center justify-content-center align-items-center d-flex">
              <img class="border-bottom border-dark img-fluid" width="300px" height="400px" src=" {% static 'img/about/about-hero.png' %} " alt="">
            </div>
            <div class="col">
              <h2 class="sm-h my-3">About <span class="font-H md-h">Me</span></h2>
              <p class="font-ap">I'm Niranjan Rao, and I am a DevOps Engineer who deploys and operates applications using AWS technologies such as EC2, VPC and RDS. I also automate the communication between software and deployment tools using Jenkins and GitHub Actions for DevOps to make CI/CD processes easier. My DevOps skills also include the use of Docker, Ansible and CloudWatch for automation. <br> <br>

                I architect secure cloud infrastructure and administer PostgreSQL. I provision VPCs, Subnets, Load balancers and My projects such as automating CI/CD for an Amazon Prime Clone showcase my skill set in using Docker, AWS EKS and SonarQube. <br> <br>
                
                I hold a Bachelor's in Computer Science and a Polytechnic diploma, which allows me to bring value with my technical problem-solving skills. DevOps is a field that I am very passionate about and I'm always ready to learn new technologies and strive to solve problems in innovations in DevOps.
                
                </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- project section -->
    <section id="projects" class="bg-black py-5">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center text-white mb-5">
            <h2 class="mb-3"><span class="sm-h">My </span><span class="font-H1 md-h">Projects</span></h2>
          </div>
        </div>
    
        <!-- Project 1 -->
        <div class="row align-items-center mb-5">
          <div class="col-md-6 text-center text-md-end mb-4 mb-md-0">
            <img
              class="img-fluid rounded-4"
              src="{% static 'img/projects/project-1.png' %}"
              sizes="(max-width: 768px) 100vw, 50vw"
              alt="DS Edify Project"
              loading="lazy"
            />
          </div>
          <div class="col-md-6">
            <span class="d-block font-pn mb-2">01</span>
            <h3 class="font-ph mb-3">DS Edify: Scalable & Reliable Web Application</h3>
            <p class="font-pp mb-3">
              Zero Downtime Deployment – Leveraged AWS App Runner, Route 53, and DynamoDB Global Tables for uninterrupted service.
              Multi-Region Deployment – Implemented across multiple AWS regions with ECR replication for high availability.
              PostgreSQL Database – Utilized PostgreSQL for efficient data management and reliability.
              Secure & Optimized Architecture – Configured VPC, subnets, and load balancers to enhance security and performance.
              Real-Time Monitoring – Used AWS CloudWatch for tracking system health and quick issue resolution.
            </p>
            <a href="#" class="d-inline-block">
              <img
                class="a-hover"
                width="20"
                height="20"
                src="https://img.icons8.com/pastel-glyph/25/FFFFFF/external-link--v1.png"
                alt="External Link"
              />
            </a>
          </div>
        </div>
    
        <!-- Project 2 -->
        <div class="row align-items-center flex-md-row-reverse mb-5">
          <div class="col-md-6 text-center text-md-start mb-4 mb-md-0">
            <img
              class="img-fluid rounded-4"
              src="{% static 'img/projects/project-2.png' %}"
              sizes="(max-width: 768px) 100vw, 50vw"
              alt="CI/CD Pipeline Project"
              loading="lazy"
            />
          </div>
          <div class="col-md-6">
            <span class="d-block font-pn mb-2">02</span>
            <h3 class="font-ph mb-3">CI/CD Pipeline with Jenkins, GitHub, SonarQube & Docker</h3>
            <p class="font-pp mb-3">
              Key Highlights:
              Automated Build Process – Integrated Jenkins to pull code from GitHub, ensuring continuous integration.
              Code Quality Analysis – Used SonarQube to analyze code for bugs, vulnerabilities, and maintainability.
              Containerized Deployment – Built and deployed Docker images for efficient application deployment.
              Seamless Integration – Automated code scanning and deployment for a streamlined DevOps workflow.
              User-Centric Delivery – Ensured smooth deployment, allowing end users to access the latest updates effortlessly.
            </p>
            <a href="#" class="d-inline-block">
              <img
                class="a-hover"
                width="20"
                height="20"
                src="https://img.icons8.com/pastel-glyph/25/FFFFFF/external-link--v1.png"
                alt="External Link"
              />
            </a>
          </div>
        </div>
    
        <!-- Project 3 -->
        <div class="row align-items-center mb-5">
          <div class="col-md-6 text-center text-md-end mb-4 mb-md-0">
            <img
              class="img-fluid rounded-4"
              src=" {% static 'img/projects/project-3.png' %}"
              sizes="(max-width: 768px) 100vw, 50vw"
              alt="Amazon Prime Clone Project"
              loading="lazy"
            />
          </div>
          <div class="col-md-6">
            <span class="d-block font-pn mb-2">03</span>
            <h3 class="font-ph mb-3">Amazon Prime Clone: Fully Automated DevOps Project</h3>
            <p class="font-pp mb-3">
              Key Highlights:
              End-to-End CI/CD Pipeline – Implemented automation using Jenkins, GitHub, and SonarQube for continuous integration and code quality checks.
              Containerized Deployment – Used Docker to build and manage application images, stored securely in AWS ECR.
              Kubernetes Orchestration – Deployed containers on AWS EKS, ensuring scalability and efficient resource management.
              Infrastructure as Code (IaC) – Managed cloud resources using Terraform, enabling automated and consistent infrastructure provisioning.
              Monitoring & Security – Integrated Prometheus, Grafana, and ArgoCD for real-time monitoring, and Aqua Trivy for security vulnerability scanning.
            </p>
            <a href="#" class="d-inline-block">
              <img
                class="a-hover"
                width="20"
                height="20"
                src="https://img.icons8.com/pastel-glyph/25/FFFFFF/external-link--v1.png"
                alt="External Link"
              />
            </a>
          </div>
        </div>
    
        <!-- Project 4 -->
        <div class="row align-items-center flex-md-row-reverse mb-5">
          <div class="col-md-6 text-center text-md-start mb-4 mb-md-0">
            <img
              class="img-fluid rounded-4"
              src=" {% static 'img/projects/project-4.png' %}"
              sizes="(max-width: 768px) 100vw, 50vw"
              alt="Kubernetes-Based Video to Audio Converter Project"
              loading="lazy"
            />
          </div>
          <div class="col-md-6">
            <span class="d-block font-pn mb-2">04</span>
            <h3 class="font-ph mb-3">Kubernetes-Based Video to Audio Converter Microservices Application</h3>
            <p class="font-pp mb-3">
              Developed a microservices-based application for converting video files to audio.
              Deployed on Kubernetes for scalability, fault tolerance, and efficient resource management.
              Integrated AWS services for API gateway, storage, and messaging.
              Key Technologies & Tools:
              Backend: Python (FastAPI) for RESTful API development.
              Containerization & Orchestration: Docker & Kubernetes for deployment.
              Cloud Services: AWS API Gateway, EC2, and RDS for infrastructure.
              Database Management: PostgreSQL for structured data, MongoDB for unstructured storage.
              Message Queue: RabbitMQ for asynchronous processing.
              Authentication & Security: JWT-based authentication.
              CI/CD Pipeline: Jenkins for automated builds and deployments.
              Monitoring & Scaling: Kubernetes HPA (Horizontal Pod Autoscaler) for dynamic scaling.
              Notifications: Email and push notifications for user interactions.
            </p>
            <a target="_blank" href="https://github.com/niranjan-46/microservices-python-app/tree/master" class="d-inline-block">
              <img
                class="a-hover"
                width="20"
                height="20"
                src="https://img.icons8.com/pastel-glyph/25/FFFFFF/external-link--v1.png"
                alt="External Link"
              />
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- contact me section -->
    <section id="contact-me">
      <div class="container-fluid container-md my-5">
        <div class="row row-reverse">
          <div class="col-md col-sm-12">
            <form id="myForm" action="{% url 'contact' %}" method="POST">
              {% csrf_token %}
              <input type="text" name="name" class="form-control border border-dark rounded-1 mb-3 font-p" placeholder="Name" required>
              <input type="email" name="email" id="email" class="form-control border border-dark  rounded-1 mb-3 font-p" spellcheck="false" onkeyup="validateEmail(this)" placeholder="Email">
              <input type="text" name="subject" class="form-control  border border-dark rounded-1 mb-3 font-p" placeholder="Subject" required>
              <textarea name="message" class="form-control  border border-dark rounded-1 mb-3 font-p" rows="3" placeholder="Message" required></textarea>
              <button id="submit" type="submit" class="btn btn-dark rounded-1 mb-3 me-1 disabled" >Get In Touch</button>
              <a target="_blank" href="https://github.com/niranjan-46" onmouseenter="mEnter(this)" onmouseleave="mExit(this)" class="btn btn-outline-dark mb-3 me-1 "><img class="contact-btn" src=" {% static 'img/github.svg' %}" alt=""></a>
              <a target="_blank" href="http://www.linkedin.com/in/niranjan-rao-annavarapu" onmouseenter="mEnter(this)" onmouseleave="mExit(this)" class="btn btn-outline-dark mb-3 me-1 "><img class="contact-btn" src="{% static 'img/linkedin.svg' %}" alt=""></a>
              <a target="_blank" href="https://x.com/niranjanan28651?s=21&t=ZwRQFbteB3_Wta00haEuiA" onmouseenter="mEnter(this)" onmouseleave="mExit(this)" class="btn btn-outline-dark mb-3 me-1 "><img class="contact-btn" src="{% static 'img/twitter.svg' %}" alt=""></a>
              <a target="_blank" href="mailto:niranjan.devops.specialist@gmail.com" onmouseenter="mEnter(this)" onmouseleave="mExit(this)" class="btn btn-outline-dark mb-3 me-1 "><img class="contact-btn" src="{% static 'img/envelope.svg' %}" alt=""></a> 
              {% comment %} <span class=" d-flex  text-success message"></span> {% endcomment %}
              {% if request.GET.message == "success" %}
                <p class="text-success">Your message was sent successfully,&nbsp; {{ request.GET.name }}!</p>
              {% elif request.GET.message == "error" %}
                <p class="text-danger">There was an error sending your message. Please try again.</p>
              {% endif %}
            </form>
          </div>
          <div class="col mb-3">
            <h1 id="h1">Hello, I am <span id="hero-name">Niranjan Rao</span>, <span id="role-name">DevOps</span> Engineer</h1>
            <p class="font-p">I'm a DevOps Engineer with a passion for automation and cloud infrastructure. I have experience with AWS, Docker, Kubernetes, Jenkins, and more. I'm always looking to learn new technologies and improve my skills.</p>
            <h6 class="">niranjan.devops.specialist @gmail.com</h6>
          </div>
        </div>
      </div>
    </section>
    <!-- footer section -->
    <footer class="footer bg-black text-white py-3">
      <div class="container d-flex flex-column flex-lg-row justify-content-between">
        <div class="container">
          <a target="_blank"  href="#" class="text-decoration-none text-white">Developed by <strong>Vamsi Krishna</strong></a><br>
          <a href="mailto:vamsikrishna.nagidi@gmail.com" class="text-decoration-none text-white">vamsikrishna.nagidi@gmail.com</a><br>
          <a target="_blank" href="https://github.com/vamsikrishna7-github"><img width="20" height="20" src="https://img.icons8.com/ios-filled/20/FFFFFF/github.png" alt="github"/></a>
          <a target="_blank" href="https://www.linkedin.com/in/vamsi-krishna-nagidi-742314233/"><img width="20" height="20" src="https://img.icons8.com/ios-filled/20/FFFFFF/linkedin.png" alt="linkedin"/></a>
          <a target="_blank" href="#"><img width="24" height="24" src="https://img.icons8.com/material-rounded/24/FFFFFF/portfolio.png" alt="portfolio"/></a>
          <a target="_blank" href="https://x.com/TheKrishnacode?t=y_igGz1Uw6Mcp19-CKaCHQ&s=09"><img width="24" height="24" src="https://img.icons8.com/material-sharp/24/FFFFFF/twitterx--v1.png" alt="twitterx--v1"/></a>
        </div>
        <br>
        <div class="container text-end">
          <a href="#" class="text-decoration-none text-white">Hosted by <strong>Niranjan Rao</strong> (DevOps Engineer)</a><br>
          <a href="mailto:niranjan.devops.specialist@gmail.com" class="text-decoration-none text-white">niranjan.devops.specialist@gmail.com</a><br>
          <a target="_blank" href="https://github.com/niranjan-46"><img width="20" height="20" src="https://img.icons8.com/ios-filled/20/FFFFFF/github.png" alt="github"/></a>
          <a target="_blank" href="http://www.linkedin.com/in/niranjan-rao-annavarapu"><img width="20" height="20" src="https://img.icons8.com/ios-filled/20/FFFFFF/linkedin.png" alt="linkedin"/></a>
          <a target="_blank" href="https://x.com/niranjanan28651?s=21&t=ZwRQFbteB3_Wta00haEuiA"><img width="24" height="24" src="https://img.icons8.com/material-sharp/24/FFFFFF/twitterx--v1.png" alt="twitterx--v1"/></a>
        </div>
      </div>
    </footer>

    <script src=" {% static 'js/app.js' %} "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>